flows-sample.json
[{"id":"a7780153.e80948","type":"tab","label":"Mi Devices Sample","disabled":false,"info":""},{"id":"e0c11cb8.d19f4","type":"comment","z":"a7780153.e80948","name":"Get all sensors and gateway statuses","info":"","x":390,"y":40,"wires":[]},{"id":"5c5e4db4.e10a84","type":"inject","z":"a7780153.e80948","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"x":107.14285714285711,"y":95,"wires":[["e6a4831a.203a","39a33c8b.2f070c"]]},{"id":"10c513e0.173424","type":"split","z":"a7780153.e80948","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":473,"y":95,"wires":[["22260d64.88cc4a"]]},{"id":"22260d64.88cc4a","type":"change","z":"a7780153.e80948","name":"set id","rules":[{"t":"set","p":"sid","pt":"msg","to":"payload.sid","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":629.9999732971191,"y":95.71428489685059,"wires":[["6958c446.7387dc"]]},{"id":"6fd23b34.f00c84","type":"comment","z":"a7780153.e80948","name":"Check if a window at least one window open","info":"","x":410,"y":300,"wires":[]},{"id":"8aad0e7d.af726","type":"split","z":"a7780153.e80948","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":630,"y":360,"wires":[["f11942f4.1940a8"]]},{"id":"cebd416e.e8ec7","type":"function","z":"a7780153.e80948","name":"filter windows","func":"let windowSensors = msg.payload.filter((e) => {\n    return e.model === \"magnet\";\n});\nmsg.payload = windowSensors;\nreturn msg;","outputs":1,"noerr":0,"x":460,"y":360,"wires":[["8aad0e7d.af726"]]},{"id":"f11942f4.1940a8","type":"change","z":"a7780153.e80948","name":"set id","rules":[{"t":"set","p":"sid","pt":"msg","to":"payload.sid","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":770,"y":360,"wires":[["7ab840ba.050d1"]]},{"id":"eba1f751.2155e","type":"function","z":"a7780153.e80948","name":"set window sensor value","func":"if ([\"magnet\", \"sensor_magnet.aq2\"].indexOf(msg.payload.model) >= 0 && msg.payload.sid !== \"158d0001ab1fa8\") {\n    let globalKey = `windowSensorStatus-${msg.payload.sid}`;\n    global.set(globalKey, msg.payload.data.status);\n}\n","outputs":"0","noerr":0,"x":330,"y":480,"wires":[]},{"id":"fa8d5a4c.2b24","type":"function","z":"a7780153.e80948","name":"get window sensors values","func":"let windowSensors = {};\nmsg.payload.filter((e) => {\n    return e.model === \"magnet\";\n}).forEach((e) => {\n    let globalKey = `windowSensorStatus-${e.sid}`;\n    let value = global.get(globalKey);\n    if(!value || value == \"open\") {\n        windowSensors[e.sid] = value || \"na\";\n    }\n});\n\nmsg.payload = windowSensors;\nif(Object.keys(windowSensors).length) {\n    return [msg, null];\n}\nreturn [null, msg];","outputs":"2","noerr":0,"x":680,"y":420,"wires":[[],[]],"outputLabels":["at least one window is open","all windows are close"]},{"id":"66e760b4.3aa808","type":"delay","z":"a7780153.e80948","name":"","pauseType":"delay","timeout":"500","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":450,"y":420,"wires":[["fa8d5a4c.2b24"]]},{"id":"82b6724e.158a6","type":"comment","z":"a7780153.e80948","name":"Doorbell","info":"","x":300,"y":580,"wires":[]},{"id":"b6eaa4f1.ab95e8","type":"function","z":"a7780153.e80948","name":"is click","func":"if(msg.payload.cmd === \"report\" && msg.payload.data.status == \"click\") {\n    return msg;\n}\nreturn null;","outputs":"1","noerr":0,"x":470,"y":660,"wires":[["5b3e12d2.2bb634","5799ab4.8121954","53df8b56.14a174"]]},{"id":"24e5aa3d.e505be","type":"template","z":"a7780153.e80948","name":"off","field":"brightness","fieldType":"msg","format":"handlebars","syntax":"plain","template":"0","output":"str","x":850,"y":800,"wires":[["589890fb.6f3c6"]]},{"id":"5b3e12d2.2bb634","type":"template","z":"a7780153.e80948","name":"on","field":"brightness","fieldType":"msg","format":"handlebars","syntax":"plain","template":"100","output":"str","x":850,"y":760,"wires":[["589890fb.6f3c6"]]},{"id":"5799ab4.8121954","type":"delay","z":"a7780153.e80948","name":"500ms","pauseType":"delay","timeout":"500","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":650,"y":720,"wires":[["24e5aa3d.e505be","7bede046.d2ea48"]]},{"id":"7bede046.d2ea48","type":"delay","z":"a7780153.e80948","name":"500ms","pauseType":"delay","timeout":"500","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":650,"y":760,"wires":[["5b3e12d2.2bb634","cda882cb.ba62b8"]]},{"id":"cda882cb.ba62b8","type":"delay","z":"a7780153.e80948","name":"500ms","pauseType":"delay","timeout":"500","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":650,"y":800,"wires":[["24e5aa3d.e505be","50b3208b.2cd0b"]]},{"id":"50b3208b.2cd0b","type":"delay","z":"a7780153.e80948","name":"500ms","pauseType":"delay","timeout":"500","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":650,"y":840,"wires":[["5b3e12d2.2bb634","3913f36d.5871ac"]]},{"id":"3913f36d.5871ac","type":"delay","z":"a7780153.e80948","name":"500ms","pauseType":"delay","timeout":"500","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":650,"y":880,"wires":[["24e5aa3d.e505be"]]},{"id":"4c598791.b9cef","type":"comment","z":"a7780153.e80948","name":"gateway light flick 3 times","info":"","x":890,"y":720,"wires":[]},{"id":"44f42181.0266","type":"mi-devices-gateway out","z":"a7780153.e80948","name":"","x":1047.8571853637695,"y":94.28570747375488,"wires":[]},{"id":"e6a4831a.203a","type":"mi-devices-all","z":"a7780153.e80948","gateway":"","name":"","onlyModels":[],"excludedSids":[],"x":282.14285469055176,"y":95.14285659790039,"wires":[["10c513e0.173424"]]},{"id":"39a33c8b.2f070c","type":"mi-devices-gateway","z":"a7780153.e80948","gateway":"","name":"","x":282.14286041259766,"y":145.71428203582764,"wires":[["6958c446.7387dc"]]},{"id":"6958c446.7387dc","type":"mi-devices-actions read","z":"a7780153.e80948","name":"","x":862.1428680419922,"y":94.28571510314941,"wires":[["44f42181.0266"]]},{"id":"f023637d.a64158","type":"mi-devices-gateway out","z":"a7780153.e80948","name":"","x":1128.5714988708496,"y":358.5714454650879,"wires":[]},{"id":"7ab840ba.050d1","type":"mi-devices-actions read","z":"a7780153.e80948","name":"","x":947.1428833007812,"y":360,"wires":[["f023637d.a64158"]]},{"id":"e6580bd9.860678","type":"mi-devices-all","z":"a7780153.e80948","gateway":"","name":"","onlyModels":[],"excludedSids":[],"x":239.42857360839844,"y":360.9999761581421,"wires":[["cebd416e.e8ec7","66e760b4.3aa808"]]},{"id":"27a909ad.31cbe6","type":"mi-devices-gateway in","z":"a7780153.e80948","name":"","gateway":"","x":79.28571428571428,"y":480.5714285714285,"wires":[["eba1f751.2155e"]]},{"id":"2ee4ea88.00928e","type":"mi-devices-gateway in","z":"a7780153.e80948","name":"","gateway":"","x":79.28571319580078,"y":659.9999618530273,"wires":[["38730c56.824c1c"]]},{"id":"38730c56.824c1c","type":"mi-devices-mi.switch","z":"a7780153.e80948","gateway":"","name":"","sid":"","x":282.42857360839844,"y":659.9999618530273,"wires":[["b6eaa4f1.ab95e8"]]},{"id":"53df8b56.14a174","type":"mi-devices-actions gateway_play_sound","z":"a7780153.e80948","name":"","mid":"","volume":"","x":782.1428571428571,"y":624.2857142857142,"wires":[["dbdde19e.ecc4f"]]},{"id":"589890fb.6f3c6","type":"mi-devices-actions light","z":"a7780153.e80948","name":"","brightness":100,"hexRgbColor":"#ffffff","color":{"red":255,"green":255,"blue":255},"x":1067.8571243286133,"y":775.7142715454102,"wires":[["dbdde19e.ecc4f"]]},{"id":"dbdde19e.ecc4f","type":"mi-devices-gateway out","z":"a7780153.e80948","name":"","x":1250.7144012451172,"y":652.8572006225586,"wires":[]}]