flows-overview.json
[{"id":"c26e5d65.2ba2f","type":"tab","label":"Mi Devices Overview","disabled":false,"info":""},{"id":"dc0246f8.77bab8","type":"debug","z":"c26e5d65.2ba2f","name":"","active":true,"console":"false","complete":"true","x":710,"y":220,"wires":[]},{"id":"9d3513ae.0cb99","type":"inject","z":"c26e5d65.2ba2f","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":98.5714340209961,"y":622.8571577072144,"wires":[["b109ba00.876218","2f4f3b9c.8a33dc","26fba522.5a10ca","c01e5a36.4cf8a","198c4c4f.4a0e2c","f173be1d.ec8e","b4ecbe6b.11bb18","cf39b156.791e68","7e7a6423.d08204"]]},{"id":"6299b44b.364bd4","type":"comment","z":"c26e5d65.2ba2f","name":"Filter incoming","info":"","x":420,"y":40,"wires":[]},{"id":"42ef97c5.c5c0d8","type":"comment","z":"c26e5d65.2ba2f","name":"Outgoing","info":"","x":418.57143211364746,"y":457.1428575515747,"wires":[]},{"id":"fc699927.573898","type":"mi-devices-gateway in","z":"c26e5d65.2ba2f","name":"","gateway":"","x":89.5,"y":227,"wires":[["20b19f26.614d9","935e31dd.7598c8","2d26be73.a95cf2","76949f24.3362f","8ff4f2d9.3bb058","30f884ad.d891f4","7f4fa8ce.a2abb"]]},{"id":"20b19f26.614d9","type":"mi-devices-all","z":"c26e5d65.2ba2f","gateway":"","name":"","onlyModels":[],"excludedSids":[],"x":426.5,"y":97,"wires":[["dc0246f8.77bab8"]]},{"id":"935e31dd.7598c8","type":"mi-devices-mi.weather","z":"c26e5d65.2ba2f","gateway":"","name":"","sid":"","x":430.5,"y":138,"wires":[["dc0246f8.77bab8"]]},{"id":"2d26be73.a95cf2","type":"mi-devices-magnet","z":"c26e5d65.2ba2f","gateway":"","name":"","sid":"","x":433.5,"y":179,"wires":[["dc0246f8.77bab8"]]},{"id":"76949f24.3362f","type":"mi-devices-mi.motion","z":"c26e5d65.2ba2f","gateway":"","name":"","sid":"","x":429.5,"y":217,"wires":[["dc0246f8.77bab8"]]},{"id":"8ff4f2d9.3bb058","type":"mi-devices-mi.switch","z":"c26e5d65.2ba2f","gateway":"","name":"","sid":"","x":427.5,"y":256,"wires":[["dc0246f8.77bab8"]]},{"id":"30f884ad.d891f4","type":"mi-devices-gateway","z":"c26e5d65.2ba2f","gateway":"","name":"","x":418.5,"y":295,"wires":[["dc0246f8.77bab8"]]},{"id":"7f4fa8ce.a2abb","type":"mi-devices-plug","z":"c26e5d65.2ba2f","gateway":"","name":"","sid":"","onmsg":"","offmsg":"","output":"0","x":416.5,"y":333,"wires":[["dc0246f8.77bab8"]]},{"id":"c8141d3d.1b5248","type":"mi-devices-gateway out","z":"c26e5d65.2ba2f","name":"","x":1018.0714340209961,"y":694.8571577072144,"wires":[]},{"id":"b109ba00.876218","type":"mi-devices-mi.weather","z":"c26e5d65.2ba2f","gateway":"","name":"","sid":"","x":397.0714340209961,"y":514.8571577072144,"wires":[["47c4031.d1a7f7c"]]},{"id":"47c4031.d1a7f7c","type":"mi-devices-actions read","z":"c26e5d65.2ba2f","name":"","x":678.0714340209961,"y":519.8571577072144,"wires":[["c8141d3d.1b5248"]]},{"id":"2f4f3b9c.8a33dc","type":"mi-devices-magnet","z":"c26e5d65.2ba2f","gateway":"","name":"","sid":"","x":389.0714340209961,"y":552.8571577072144,"wires":[["47c4031.d1a7f7c"]]},{"id":"26fba522.5a10ca","type":"mi-devices-mi.motion","z":"c26e5d65.2ba2f","gateway":"","name":"","sid":"","x":399.0714340209961,"y":593.8571577072144,"wires":[["47c4031.d1a7f7c"]]},{"id":"c01e5a36.4cf8a","type":"mi-devices-mi.switch","z":"c26e5d65.2ba2f","gateway":"","name":"","sid":"","x":399.0714340209961,"y":632.8571577072144,"wires":[["47c4031.d1a7f7c","d15c2b2e.8e4d48","d61e07d.3171b78"]]},{"id":"d15c2b2e.8e4d48","type":"mi-devices-actions click","z":"c26e5d65.2ba2f","name":"","x":673.0714340209961,"y":612.8571577072144,"wires":[["c8141d3d.1b5248"]]},{"id":"d61e07d.3171b78","type":"mi-devices-actions double_click","z":"c26e5d65.2ba2f","name":"","x":701.0714340209961,"y":649.8571577072144,"wires":[["c8141d3d.1b5248"]]},{"id":"198c4c4f.4a0e2c","type":"mi-devices-gateway","z":"c26e5d65.2ba2f","gateway":"","name":"","x":361.0714340209961,"y":706.8571577072144,"wires":[["47c4031.d1a7f7c","2d3b6309.eb4df4","bb2c9352.8b7c3","d31c9974.bcb9c8","dc7a7421.cd3ca8"]]},{"id":"2d3b6309.eb4df4","type":"mi-devices-actions get_id_list","z":"c26e5d65.2ba2f","name":"","x":692.0714340209961,"y":720.8571577072144,"wires":[["c8141d3d.1b5248"]]},{"id":"bb2c9352.8b7c3","type":"mi-devices-actions light","z":"c26e5d65.2ba2f","name":"","brightness":100,"hexRgbColor":"#ffffff","color":{"red":255,"green":255,"blue":255},"x":654.0714340209961,"y":761.8571577072144,"wires":[["c8141d3d.1b5248"]]},{"id":"d31c9974.bcb9c8","type":"mi-devices-actions gateway_play_sound","z":"c26e5d65.2ba2f","name":"","mid":"","volume":"","x":664.0714340209961,"y":801.8571577072144,"wires":[["c8141d3d.1b5248"]]},{"id":"dc7a7421.cd3ca8","type":"mi-devices-actions gateway_stop_sound","z":"c26e5d65.2ba2f","name":"","x":665.0714340209961,"y":839.8571577072144,"wires":[["c8141d3d.1b5248"]]},{"id":"629b3888.01683","type":"mi-devices-yeelight out","z":"c26e5d65.2ba2f","name":"","yeelight":"","x":725.0714340209961,"y":968.8571577072144,"wires":[]},{"id":"f173be1d.ec8e","type":"mi-devices-actions turn_on","z":"c26e5d65.2ba2f","name":"","x":390.0714340209961,"y":897.8571577072144,"wires":[["629b3888.01683"]]},{"id":"b4ecbe6b.11bb18","type":"mi-devices-actions turn_off","z":"c26e5d65.2ba2f","name":"","x":391.0714340209961,"y":938.8571577072144,"wires":[["629b3888.01683"]]},{"id":"cf39b156.791e68","type":"mi-devices-actions toggle","z":"c26e5d65.2ba2f","name":"","x":392.0714340209961,"y":981.8571577072144,"wires":[["629b3888.01683"]]},{"id":"7e7a6423.d08204","type":"mi-devices-actions light","z":"c26e5d65.2ba2f","name":"","brightness":100,"hexRgbColor":"#ffffff","color":{"red":255,"green":255,"blue":255},"x":363.0714340209961,"y":1021.8571577072144,"wires":[["629b3888.01683"]]}]